extends master.pug

block body
  #root.is-fullscreen
    .app-error
      a(href='/')
        img(src='/_assets/favicons/favicon.svg', alt='charnlee.wiki')
      strong Oops, something went wrong...
      span= message
            
      if error.stack
        pre: code #{error.stack}
